body {
    overflow-x: hidden;
}
.navbar-brand {
    margin-right: auto;
}

.form-control {
    width: 100%;
    max-width: 400px; /* Adjust maximum width as needed */
}

.fixed-bottom-right {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
}

.card {
    height: 400px;
    width: 100%;
    max-width: 400px; /* Adjust maximum width as needed */
    margin-bottom: 20px;
    position: relative;
}

.card-body input[type="text"] {
    width: calc(100% - 20px);
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.card-title {
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 20px;
}

.btn-primary {
    margin-top: 10px;
    margin-right: 10px;
}

.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.modal-content {
    width: 100%;
    max-width: 600px; 
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    max-width: 500px; 
    height: auto; 
    padding: 20px;
}

.reu {
    height: 300px;
    border-radius: 20px;
    object-fit: cover; /* Ensure images cover the area without stretching */
}

@media (min-width: 576px) {
    .form-control {
        max-width: auto;
    }

    .card {
        max-width: auto;
    }

    .modal-content {
        max-width: auto;
    }
}